/.DS_Store
/Thumbs.db

/laravel/vendor/
/laravel/node_modules/
/laravel/public/build/
/laravel/public/storage
/laravel/public/storage/
/laravel/storage/*.key
/laravel/storage/
/laravel/storage/app/*
/laravel/storage/framework/*
/laravel/storage/logs/*
/laravel/bootstrap/cache/*
/laravel/.phpunit.result.cache

/\.env
/\.env.*
!/.env.example

/laravel/.env
/laravel/.env.*
!/laravel/.env.example

/nginx-proxy-manager/data/database.sqlite

/postgres/backups/

# IDE
/.vscode/
/.idea/

# Logs
*.log
