APP_NAME="BWEEK26"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_TIMEZONE=Europe/Madrid

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=ecommerce_db
DB_USER=bweek_admin
DB_USERNAME=bweek_admin
DB_PASSWORD=changeme_secure_password

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"

JWT_SECRET=
JWT_TTL=30
JWT_REFRESH_TTL=20160
JWT_ALGO=HS256

SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

BSW_FIXED_USER_EMAIL=user@example.com
BSW_FIXED_ADMIN_EMAIL=admin@example.com
BSW_FIXED_SUPERADMIN_EMAIL_1=superadmin@example.com
BSW_FIXED_SUPERADMIN_EMAIL_2=
BSW_FIXED_USERS_PASSWORD=changeme_fixed_users_password
